*{
    box-sizing: border-box;
}

body {
    font-family: Garamond, serif; 
  }
  
h1 {
    font-family: Helvetica, sans-serif;
}

.heading{

    font-size: 175%;
    font-weight:550;
    text-align: center;
    margin-top:35px;
    margin-bottom:50px;

}

p {
    text-align: justify;
    padding:10px;
    margin:0;
}

.section-title{
    border-bottom: 2px solid black;
    border-left:2px solid black;
    width:130px;
    height:30px;
    position:absolute;
    right:0;

}

.section-title > p{
    text-align:center;
    font-weight: bold;
    padding:3px;
    font-size:125%;
}

.title1{
    background-color:#FF4C4C ;
    color:white;
}

.title2{
    background-color: #FFDF4C ;
}

.title3{
    background-color: #DAF7A6 ;
}

.card{
    border: 2px solid black;
    background-color:#C1F1FB;
    width:90%;
    min-height: 150px;
    margin:20px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.content{
    margin:5px;
    position:relative;
}

.gap{
    width:130px;
    height:30px;
}

/* Responsive framework */

.row{
    width:100%;
}

/* Responsive media queries */

@media (min-width:992px)
{
    .col-lg-3{
        width:33%;
        float:left;
    }
}

@media (max-width:991px) and (min-width:768px)
{
    .col-md-2{
        width:50%;
        float:left;
    }

    .col-md-1{
        width:100%;
        float:left;
    }
}
